@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    color: rgb(184, 179, 179);
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}

#iconbar {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
}

#iconbar:hover {
    color: teal;
}

.logo {
    margin-left: 60px;
    margin-top: 50px;

}

.logo img {
    height: 7vh;
}

.logo h3 span {
    color: rgb(255, 255, 255);
}

.logo h3 {
    color: rgb(241, 18, 18);
    font-size: 25px;
    font-weight: normal;
    margin-top: -35px;
}

.nav ul {
    display: flex;
}

.nav-responsive{
    display: none;
    z-index: 99;
    position: absolute;
    top: 65px;
    right: 40px;
    width: 150px;
    height: 0px;
    opacity: 0;
    text-align: end;
    background-color: #800000;
    border-radius: 20px 0 20px 20px;
    transition: 0.3s ease-out;
}
.nav-responsive ul{
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20px;
    padding-bottom: 10px;
}

.nav-responsive .login-responsive{
    background-color: white;
    color: #800000;
    padding: 5px 20px;
    width: 100%;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(227, 238, 227);
}

.nav ul li a:hover {
    color: rgb(185, 10, 10);
    font-weight: bolder;
    transition: 0.4s;
}


.user {
    cursor: pointer;
    color: teal;
    margin-right: 40px;
}

.user a {
    padding: 10px 30px;
    color: white;
    background-color: rgb(128, 0, 0);
    text-decoration: none;
    border-radius: 10px;
}

.user a:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
    animation: 0.8s;
}

.user i {
    font-size: 20px;
    margin-right: 10px;
}

.user h4 {
    border-radius: 40px;
    background: teal;
    padding: 10px 20px;
    margin-top: 40px;
    margin-right: 40px;
}

.user i {
    padding: 0px 14px;
}

.user h4:hover {
    color: teal;
    background: black;
}

.heropage {
    position: absolute;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 100px;
    /* margin-left: 100px; */
}


.inside-heropage {
    /* line-height: 2; */
}

.inside-heropage h1 {
    font-size: 40px;
}

.inside-heropage p {
    font-size: 17px;
}

span {
    color: rgb(199, 199, 199);
    font-weight: bold;

}

.line1 {
    height: 2px;
    background-color: rgb(241, 18, 18);
    width: 123px;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}

.btn1 {
    width: 80%;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.btn1 a {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;
    color: rgb(255, 0, 0);
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
    white-space: nowrap;
}

.btn1 a:hover {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.btn1 i {
    color: rgb(255, 255, 255);
    padding: 0px 10px;
}

.btn1 i:hover {
    color: white;
}

.poster {
    /* margin-top: 130px;
    margin-right: 55px; */
}

.poster img {
    width: 40vw;
    max-width: 690px;
    height: auto;
    float: right;
    border-radius: 50px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.poster img:hover {
    transform: scale(1.1);
}

.latest-movies {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    margin-top: 525px;
    padding: 0px 20px;
}

.latest-movies h1 {
    font-size: 20px;
    color: rgb(241, 18, 18);
}

.latest-inside p span {
    color: gold;
}

.latest-container {
    padding: 6px 0px;
}

.latest-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.latest-container {
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.latest-container::-webkit-scrollbar { 
    display: none; 
}
.latest-inside {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
}

.latest-inside img {
    width: 100%;
    height: 122px;
    cursor: pointer;
    padding: 4px;
    transition: all 500ms ease-in-out;
}

.latest-inside img:hover {
    transform: scale(1.1);
}

.heading1 {
    color: white;
    line-height: 1.5;
}

.heading1 h4 {
    font-size: 15px;
}

.heading1 h6 {
    font-size: 12px;
}

.btn2 {
    margin-top: -30px;
    margin-left: 150px;
}

.btn2 a {
    font-size: 13px;
    text-decoration: none;
    background: maroon;
    padding: 7px 7px;
    border-radius: 15%;
    color: white;

}

.btn2 a:hover {
    background-color: red;
    color: white;
}

.hollywood-movies {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 850px;
}

.hollywood-movies h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.hollywood-movies h1 span {
    color: red;
}

.hollywood-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hollywood-inside h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;

}

.hollywood-container {
    gap: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.hollywood-container::-webkit-scrollbar { 
    display: none; 
}

.hollywood-inside {
    position: relative;
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
}

.hollywood-inside img {
    height: 250px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}

.hollywood-inside img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.imdb {
    background-color: blueviolet;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

.imdb p {
    color: white;
}

#rate {
    background-color: darkred;
}

.more1 {
    position: absolute;
    margin-top: 860px;
    margin-left: 1220px;
}

.more1 a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}

.tollywood-movies {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 1300px;
}

.tollywood-movies h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#tollywood h1 {
    color: white;
}

#tollywood h1 span {
    color: red;
}

.imdb p {
    background-color: maroon;
}

.tollywood-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tollywood-inside h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;

}

.tollywood-container {
    gap: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.tollywood-container::-webkit-scrollbar { 
    display: none; 
}

.tollywood-inside {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
}

.tollywood-inside img {
    height: 250px;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}

.tollywood-inside img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.imdb {
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

.collywood-movies {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 1750px;
}

.collywood-movies h1 {
    font-size: 20px;
    color: white;
}

.collywood-movies h1 span {
    color: red;
}

.collywood-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collywood-inside h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;

}

.collywood-container {
    gap: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.collywood-container::-webkit-scrollbar { 
    display: none; 
}

.collywood-inside {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
}

.collywood-inside img {
    height: 250px;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}

.collywood-inside img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.imdb {
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

.more3 {
    position: absolute;
    margin-top: 1300px;
}

.more3 a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}

.tollywood-movies {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 1300px;
}

.tollywood-movies h1 {
    font-size: 20px;
    color: rgb(18, 241, 241);
}

.tollywood-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tollywood-inside h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}

.tollywood-inside img {
    height: 250px;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}

.tollywood-inside img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.imdb {
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

.more2 {
    position: absolute;
    margin-top: 1730px;
    margin-left: 1220px;
}

.more2 a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}

.iollywood-movies {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 2200px;
}

.iollywood-movies h1 {
    font-size: 20px;
    color: white;
}

.iollywood-movies h1 span {
    color: red;
}

.iollywood-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iollywood-inside h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;
}

.iollywood-container {
    gap: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.iollywood-container::-webkit-scrollbar { 
    display: none; 
}

.iollywood-inside {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
}

.iollywood-inside img {
    height: 250px;
    transition: all 500ms ease-in-out;
    border-radius: 10px;
}

.iollywood-inside img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.imdb {
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

.more4 {
    position: absolute;
    margin-top: 2200px;
    margin-left: 1220px;
}

.more4 a {
    color: teal;
    font-weight: bolder;
    text-decoration: none;
}

.sollywood-movies {
    position: absolute;
    width: 100%;
    height: 75%;
    background-color: black;
    padding: 0px 20px;
    color: white;
    margin-top: 2650px;
}

.sollywood-movies h1 {
    font-size: 20px;
    color: white;
}

.sollywood-movies h1 span {
    color: red;
}

.sollywood-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sollywood-inside h3 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 6px;

}

.sollywood-container {
    gap: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.sollywood-container::-webkit-scrollbar { 
    display: none; 
}

.sollywood-inside {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
    position: relative;
}

.sollywood-inside img {
    height: 250px;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}

.sollywood-inside img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.imdb {
    background: teal;
    border-radius: 20px;
    position: absolute;
    padding: 10px 10px;
    color: white;
    margin-top: -80px;
    margin-left: 120px;
    font-weight: bolder;
}

.more5 {
    position: absolute;
    margin-top: 860px;
    margin-left: 1220px;
}

.more5 a {

    color: teal;
    font-weight: bolder;
    text-decoration: none;
}

.akira {

    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    margin-top: 3100px;
}

.yt-movies {
    padding: 10px 20px;
    width: 100%;
    line-height: 1.9;
}

.yt-movies h1 {
    color: white;
    font: 20px;
}
.yt-movies h1 span{
    color: red;
}


.yt-movies p {
    font-size: 25px;
}

.yt-container {
    gap: 20px;
    overflow-y: hidden;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.yt-container::-webkit-scrollbar { 
    display: none; 
}

.inside-yt img {
    padding: 10px 0px;
    height: 300px;
    border-radius: 50px;
    transition: all 500ms ease-in-out;
}

.inside-yt img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.heading2 p {
    font-size: 15px;
}

.like {
    font-size: 15px;
    float: right;
    margin-top: -56px;
}

.youtubebtn {
    position: absolute;
    height: 30%;
    background-color: black;
    width: 100%;
    margin-top: 3700px;
    text-align: center;
}

.youtubebtn a {
    text-decoration: none;
    padding: 10px 30px;
    background: teal;
    color: black;
    font-weight: 700;
    border-radius: 40px;
}

.youtubebtn i {
    padding: 0px 4px;
    font-size: 19px;
}

.us {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    margin-top: 3700px;
}

.contact {
    padding: 10px 20px;
    line-height: 1.9;
}

.contact h1 {
    color: white;
}
.contact h1 span{
    color: red;
}

.contact-container {
    gap: 20px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    
}
.contact-container::-webkit-scrollbar { 
    display: none; 
}

.contact-inside{
    margin-bottom: 20px;
}
.contact-inside img {
    padding: 50px 0px;
    height: 350px;
    border-radius: 80px;
    transition: all 500ms;
}


.contact-inside:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.footer {
    position: absolute;
    margin-top: 3860px;
    height: 20vh;
    color: white;
    background: #141414;
    width: 100%;
}

.logopart img {
    height: 7vh;
    margin-left: 70px;
    margin-top: -50px;
}

.logopart h1 {
    color: rgb(18, 241, 241);
    font-size: 25px;
    margin-top: 40px;
    margin-left: 120px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.socials i {
    font-size: 27px;
    margin-top: 30px;
    padding: 0px 4px;
    color: rgb(18, 241, 241);
}

.btn4 {
    margin-right: 60px;
    margin-top: 30px;
}

.btn4 a {
    text-decoration: none;
    padding: 10px 25px;
    color: black;
    background: teal;
    border-radius: 30px;
}

.scroll {
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    bottom: 100px;
    right: 50px;
    text-decoration: none;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}

.scroll i {
    color: rgb(255, 0, 0);
}

.scroll i:hover {
    color: rgb(255, 255, 255);
}

.scroll:hover {
    background-color: red;
    color: white;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: white;
    text-decoration: none;
    display: none;
    cursor: pointer;
}
.hamburger i{
    font-size: 30px;
}

.hamburger:focus {
    outline: none;
}

/* @media(max-width:360px) {
    .nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }


}

@media (max-width: 600px) {
    .logo {
        text-align: center;
    }
    .logo img {
        display: block;
        margin: 0 auto;
    }
    .nav {
        text-align: center;
    }
    .nav ul {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .user {
        text-align: center;
        margin-top: 10px;
    }
    
} */