/* Untuk tablet */
@media screen and (max-width: 768px) {
    .nav-biasa{
        display: none;
    }
    .hamburger,.nav-responsive{
        display: block;

    }
    .user{
        display: none;
    }
    .logo{
        margin-left: 0;
    }

    //jumbotron
    .heropage .poster{
        margin-bottom: 30px;

        img{
            width: 60vw;
            max-width: none;
            max-width: none;
        }
    }
  
  }

.open{
    height: 200px;
    opacity: 1;
    top: 65px;

    ul{
        display: flex;
    }
}


//Untuk handphone
@media screen and (max-width: 576px) {
    .heropage{
        margin-top: 45px;

        img{
            width: 80vw;
        }
    }
  .btn1{
    flex-wrap: wrap;
    a{
        margin-bottom: 10px;
    }
  }
}